<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}
        <h1>
            Cotação {{ativo}}:
        </h1>
        <li>
            <ul>Empresa: {{name}}</ul>
            <ul>Moeda: {{currency}}</ul>
            <ul>Valor: {{price}}</ul>
        </li>
    </body>
</html>